<style>
    body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {

  background: #bdc3c7;
  padding: 10px;
  margin: 30px auto;
  text-align: -webkit-center;
  box-shadow: 3px 3px 1px #34495e;
  min-height: 400px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #2ecc71;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

input,
button {
  font: inherit;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}

.item {
  margin: 10px 0;
  padding: 5px;
  background: #95a5a6;
  border: 1px solid black;
}
input{
    width: 90%;
}

</style>
<section class="get">
    <h3>Get Data</h3>
    <div>
        <h1>{{items.title}}</h1>
        {{#each items }}
        <article class="item">
            <form action="/admin/update" method="post">
                <div class="input" style="display: none;">
                    <label for="id">ID</label>
                    <input type="text" id="id" name="id" value="{{this._id}}">
                </div>
                <h5>INFO:</h5>
                <div class="input">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="{{this.title}}">
                </div>
                <div class="input">
                    <label for="description">Date</label>
                    <input type="text" id="description" name="date" value="{{this.date}}">
                </div>
                <div class="input">
                    <label for="numBeds">thumbnailAdress</label>
                    <input type="text" id="numBeds" name="thumbnailAdress" value="{{this.thumbnailAdress}}">
                </div>
                <div class="input">
                    <label for="numBaths">articleAdress</label>
                    <input type="text" id="numBaths" name="articleAdress" value="{{this.articleAdress}}">
                </div>
                <button type="submit">UPDATE</button>
            </form>
        </article>
        {{/each}}
    </div>
</section>

























<h5>FLYER IMAGES:</h5>









</section>